# Copia este archivo como .env en el servidor.
# NO subas el .env real a GitHub.

DEBUG=False
SECRET_KEY=cambia-esta-clave-por-una-larga-y-secreta
ALLOWED_HOSTS=ausencias.kalpae.es,82.223.104.142
CSRF_TRUSTED_ORIGINS=https://ausencias.kalpae.es
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

SITE_URL=https://ausencias.kalpae.es

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=ivegamkalpae@gmail.com
EMAIL_HOST_PASSWORD=PEGA_AQUI_LA_CONTRASENA_DE_APLICACION_NUEVA
DEFAULT_FROM_EMAIL=Kalpae Gestión de Ausencias <ivegamkalpae@gmail.com>
HR_NOTIFICATION_EMAIL=ivegamkalpae@gmail.com
